//
// Form range custom
//

.range-custom {
    background: linear-gradient(to right, $danger 0%, $danger 70%, #fff 40%, #fff 100%);   
    border-radius: 6px;
    height: 4px;    
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
  
.range-custom::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    background: $danger;
} 