<!--begin::Chart widget 30-->
<div class="card card-flush h-xl-100">
	<!--begin::Header-->
	<div class="card-header pt-7 mb-7">
		<!--begin::Title-->
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-800">Stats by Department</span>
			<span class="text-gray-500 mt-1 fw-semibold fs-6">8k social visitors</span>
		</h3>
		<!--end::Title-->
		<!--begin::Toolbar-->
		<div class="card-toolbar">
			<a href="?page=apps/ecommerce/catalog/add-product" class="btn btn-sm btn-light">PDF Report</a>
		</div>
		<!--end::Toolbar-->
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body d-flex justify-content-between flex-column">
		<!--begin::Items-->
		<div class="d-flex flex-wrap d-grid gap-5 mb-10">
			<!--begin::Item-->
			<div class="border-end-dashed border-end border-gray-300 pe-xxl-7 me-xxl-5">
				<!--begin::Statistics-->
				<div class="d-flex mb-2">
					<span class="fs-4 fw-semibold text-gray-500 me-1">$</span>
					<span class="fs-2hx fw-bold text-gray-800 me-2 lh-1 ls-n2">8,035</span>
				</div>
				<!--end::Statistics-->
				<!--begin::Description-->
				<span class="fs-6 fw-semibold text-gray-500">Actual for April</span>
				<!--end::Description-->
			</div>
			<!--end::Item-->
			<!--begin::Item-->
			<div class="m-0">
				<!--begin::Statistics-->
				<div class="d-flex align-items-center mb-2">
					<!--begin::Currency-->
					<span class="fs-4 fw-semibold text-gray-500 align-self-start me-1">$</span>
					<!--end::Currency-->
					<!--begin::Value-->
					<span class="fs-2hx fw-bold text-gray-800 me-2 lh-1 ls-n2">4,684</span>
					<!--end::Value-->
					<!--begin::Label-->
					<span class="badge badge-light-success fs-base"><%- theme.getIcon("arrow-up", "fs-5 text-success ms-n1") %>4.5%</span>
					<!--end::Label-->
				</div>
				<!--end::Statistics-->
				<!--begin::Description-->
				<span class="fs-6 fw-semibold text-gray-500">GAP</span>
				<!--end::Description-->
			</div>
			<!--end::Item-->
		</div>
		<!--end::Items-->
		<!--begin::Chart container-->
		<div id="kt_charts_widget_30_chart" class="w-100 h-200px"></div>
		<!--end::Chart container-->
	</div>
	<!--end::Body-->
</div>
<!--end::Chart widget 30-->