//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors
$primary:       								    #3E97FF;
$primary-active:    							    #2884Ef;
$primary-light:    								    #EEF6FF;
$primary-light-dark:							    #212E48;
$primary-inverse:  									#FFFFFF;

// Success
$success:       									#50cd89;
$success-active:    								#47be7d;
$success-light:    									#e8fff3;
$success-light-dark:    							#1c3238;
$success-inverse:  									#FFFFFF;

// Info
$info:       									    #7239ea;
$info-active:    									#5014d0;
$info-light:    									#f8f5ff;
$info-light-dark:    								#2f264f;
$info-inverse:  									#FFFFFF;

// Danger
$danger:       									    #f1416c;
$danger-active:    									#d9214e;
$danger-light:    									#fff5f8;
$danger-light-dark:    								#3a2434;
$danger-inverse:  									#FFFFFF;

// Warning
$warning:       									#ffc700;
$warning-active:    								#f1bc00;
$warning-light:    									#fff8dd;
$warning-light-dark:    							#392f28;
$warning-inverse:  									#FFFFFF;

// Border Radiues
$border-radius-sm:            						.55rem;
$border-radius:               						.65rem;
$border-radius-lg:            						1rem;
$border-radius-xl:                                  1.25rem;

// Card
$card-box-shadow:                   				0px 3px 4px rgba(0, 0, 0, 0.03);
$card-box-shadow-dark:  							none;
$card-border-enabled: 								true;
