<!--begin::Table widget 9-->
<div class="card card-flush h-xl-100">
	<!--begin::Header-->
	<div class="card-header pt-5">
		<!--begin::Title-->
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-800">Top Referral Sources</span>
			<span class="text-gray-500 pt-1 fw-semibold fs-6">Counted in Millions</span>
		</h3>
		<!--end::Title-->
		<!--begin::Toolbar-->
		<div class="card-toolbar">
			<a href="#" class="btn btn-sm btn-light">PDF Report</a>
		</div>
		<!--end::Toolbar-->
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body py-3">
		<!--begin::Table container-->
		<div class="table-responsive">
			<!--begin::Table-->
			<table class="table table-row-dashed align-middle gs-0 gy-4">
				<!--begin::Table head-->
				<thead>
					<tr class="fs-7 fw-bold border-0 text-gray-500">
						<th class="min-w-150px" colspan="2">CAMPAIGN</th>
						<th class="min-w-150px text-end pe-0" colspan="2">SESSIONS</th>
						<th class="text-end min-w-150px" colspan="2">CONVERSION RATE</th>
					</tr>
				</thead>
				<!--end::Table head-->
				<!--begin::Table body-->
				<tbody>
					<tr>
						<td class="" colspan="2">
							<a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Google</a>
						</td>
						<td class="pe-0" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-800 fw-bold fs-6 me-1">1,256</span>
								<span class="text-danger min-w-50px d-block text-end fw-bold fs-6">-935</span>
							</div>
						</td>
						<td class="" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-900 fw-bold fs-6 me-3">23.63%</span>
								<span class="text-danger min-w-60px d-block text-end fw-bold fs-6">-9.35%</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="" colspan="2">
							<a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Facebook</a>
						</td>
						<td class="pe-0" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-800 fw-bold fs-6 me-1">446</span>
								<span class="text-danger min-w-50px d-block text-end fw-bold fs-6">-576</span>
							</div>
						</td>
						<td class="" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-900 fw-bold fs-6 me-3">12.45%</span>
								<span class="text-danger min-w-60px d-block text-end fw-bold fs-6">-57.02%</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="" colspan="2">
							<a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Bol.com</a>
						</td>
						<td class="pe-0" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-800 fw-bold fs-6 me-1">67</span>
								<span class="text-success min-w-50px d-block text-end fw-bold fs-6">+24</span>
							</div>
						</td>
						<td class="" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-900 fw-bold fs-6 me-3">73.63%</span>
								<span class="text-success min-w-60px d-block text-end fw-bold fs-6">+28.73%</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="" colspan="2">
							<a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Dutchnews.nl</a>
						</td>
						<td class="pe-0" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-800 fw-bold fs-6 me-1">2,136</span>
								<span class="text-danger min-w-50px d-block text-end fw-bold fs-6">-1,229</span>
							</div>
						</td>
						<td class="" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-900 fw-bold fs-6 me-3">3.67%</span>
								<span class="text-danger min-w-60px d-block text-end fw-bold fs-6">-12.29%</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="" colspan="2">
							<a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Stackoverflow</a>
						</td>
						<td class="pe-0" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-800 fw-bold fs-6 me-1">945</span>
								<span class="text-danger min-w-50px d-block text-end fw-bold fs-6">-634</span>
							</div>
						</td>
						<td class="" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-900 fw-bold fs-6 me-3">25.03%</span>
								<span class="text-danger min-w-60px d-block text-end fw-bold fs-6">-9.35%</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="" colspan="2">
							<a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Themeforest</a>
						</td>
						<td class="pe-0" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-800 fw-bold fs-6 me-1">237</span>
								<span class="text-success min-w-50px d-block text-end fw-bold fs-6">106</span>
							</div>
						</td>
						<td class="" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-900 fw-bold fs-6 me-3">36.52%</span>
								<span class="text-success min-w-60px d-block text-end fw-bold fs-6">+3.06%</span>
							</div>
						</td>
					</tr>
				</tbody>
				<!--end::Table body-->
			</table>
			<!--end::Table-->
		</div>
		<!--end::Table container-->
	</div>
	<!--end::Body-->
</div>
<!--end::Table Widget 9-->