//
// toolbar
//

// General mode
.toolbar {
    display: flex;
    align-items: center;
    background-color: var(--#{$prefix}toolbar-bg-color);
    padding: get($toolbar-config, padding);
}

// Desktop mode
@include media-breakpoint-up(lg) {
    .toolbar {
        border-bottom: var(--#{$prefix}toolbar-border);

        // Fixed toolbar
        .toolbar-fixed & {
			height: var(--#{$prefix}toolbar-height);
      	    position: fixed;
			top: 0;
			right: 0;
			left: 0;
			z-index: get($toolbar-config, z-index);			
            box-shadow: var(--#{$prefix}toolbar-box-shadow);
        }

		// toolbar enabled & toolbar not fixed modes
		.toolbar-enabled:not(.toolbar-fixed) & {
			margin-bottom: get($content-spacing, desktop);
		}

        // Fixed header & fixed toolbar modes
        .header-fixed.toolbar-fixed & {
            padding: 0;
            top: get($header-config, fixed, height, desktop);
        }

        // Aside default enabled, aside fixed & header sticky modes
		.aside-enabled.aside-fixed.toolbar-fixed & {
			left: get($aside-config, width, desktop);
			transition: left get($aside-config, transition-speed) ease;
		}
    }
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
    .toolbar {
        border-bottom: var(--#{$prefix}toolbar-border);

        // Fixed toolbar mode
        .toolbar-tablet-and-mobile-fixed & {
			height: var(--#{$prefix}toolbar-height-tablet-and-mobile);
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: get($toolbar-config, z-index);
            box-shadow: var(--#{$prefix}toolbar-box-shadow);
        }

        // Toolbar enabled & toolbar not fixed modes
		.toolbar-enabled:not(.toolbar-tablet-and-mobile-fixed) & {
			margin-bottom: get($content-spacing, tablet-and-mobile);
		}

        // Fixed header & fixed toolbar modes
        .header-tablet-and-mobile-fixed.toolbar-tablet-and-mobile-fixed & {
            padding: 0;
			top: get($header-config, default, height, tablet-and-mobile);
        }

        // Page title
		.page-title[data-kt-swapper="true"] {
			display: none !important;
		}
    }
}