//
// Variables
//

// Reboot
$app-bg-color: $body-bg;
$app-bg-color-dark: $coal-400; 

// General
$app-general-root-font-size-desktop: 13px;
$app-general-root-font-size-tablet: 12px;
$app-general-root-font-size-mobile: 12px;

// Container
$app-container-padding-x: 50px;

// Content
$app-content-padding-y: 30px;
$app-content-padding-y-mobile: 20px;

// Header base
$app-header-base-height-mobile: 70px;
$app-header-base-bg-color: $body-bg;
$app-header-base-bg-color-dark: $coal-200;
$app-header-base-box-shadow: 0px 10px 30px 0px rgba(82,63,105,0.05);
$app-header-base-box-shadow-dark: none;

// Sidebar base
$app-sidebar-base-width: 80px;
$app-sidebar-base-width-mobile: 60px;
$app-sidebar-base-gap-start: 30px;
$app-sidebar-base-gap-top: 30px;
$app-sidebar-base-gap-bottom: 30px;
$app-sidebar-base-bg-color: $body-bg;
$app-sidebar-base-bg-color-dark: $coal-400;

// Sidebar menu
$app-sidebar-menu-size: 42px;

// Sidebar panel
$app-sidebar-panel-base-width: 440px;
$app-sidebar-panel-base-width-mobile: 300px;
$app-sidebar-panel-base-z-index: 2;
$app-sidebar-panel-base-gap-start: 30px;
$app-sidebar-panel-base-gap-top: 30px;
$app-sidebar-panel-base-gap-bottom: 30px;
$app-sidebar-panel-base-bg-color: #FBF6F4;
$app-sidebar-panel-base-bg-color-dark: $coal-600;


// Toolbar sticky
$app-toolbar-sticky-z-index: 99;
$app-toolbar-sticky-height: auto;
$app-toolbar-sticky-height-mobile: auto;


// Footer
$app-footer-height: auto;
$app-footer-height-mobile: auto;

// Engage toolbar
$app-engage-toolbar-z-index: 105;

// Scrolltop
$scrolltop-bottom: 43px;
$scrolltop-bottom-mobile: 23px;
$scrolltop-end: 7px;
$scrolltop-end-mobile: 5px; 
$scrolltop-z-index: 105;

// Layout builder toggle(used for Demo purposes only)
$app-layout-builder-toggle-bg-color:$body-bg;
$app-layout-builder-toggle-end: 50px;
$app-layout-builder-toggle-end-mobile: 40px;
$app-layout-builder-toggle-bottom: 40px;
$app-layout-builder-toggle-bottom-mobile: 20px;
$app-layout-builder-toggle-z-index: 105;