//
// Layout Config
//

// Root font Sizes
$root-font-size:                                    13px; // Root font size for desktop mode
$root-font-size-lg:                             	13px; // Root font size for tablet mode
$root-font-size-md:                             	12px; // Root font size for mobile mode

// Page bg
$page-bg: 											$gray-100 !default;
$page-bg-dark:										$coal-400 !default;

// App blank bg color
$app-blank-bg-color: 								$white;
$app-blank-bg-color-dark: 							$coal-400;


// Content border radius
$content-border-radius:								1.5rem !default;

// Content Spacing
$content-spacing: (
	desktop: 30px, // Padding for desktop mode
	tablet-and-mobile: 15px // Padding for tablet and mobile modes
) !default;

// Content Spacing(with non fixed toolbar)
$content-spacing-toolbar: (
	desktop: 15px, // Padding for desktop mode
	tablet-and-mobile: 10px // Padding for tablet and mobile modes
) !default;

// Header
$header-config: (
	// Default Mode
	default: (
		height: (
			desktop: 65px,
			tablet-and-mobile: 55px
		),
		bg-color: $white,
		bg-color-dark: $coal-400,
		border: 1px solid $gray-200,
		border-dark: 1px solid $dark-light-dark
	),

	// Fixed Mode
	fixed: (
		height: (
			desktop: 65px,
			tablet-and-mobile: 55px
		),
		z-index: 100,
		bg-color: $white,
		bg-color-dark: #1E1E2D,
		box-shadow: none,
		box-shadow-dark: none
	)
) !default;

// Toolbar
$toolbar-config: (
	z-index: 99,
	height: (
		desktop: 75px,
		tablet-and-mobile: 60px
	),
	padding: 0.5rem,
	bg-color: $white,
	bg-color-dark: $coal-400,
	box-shadow: none,
	box-shadow-dark: none,
	border: 1px solid $gray-200,
	border-dark: 1px solid $dark-light-dark
) !default;

// Aside
$aside-config: (
	z-index: 101, // Aside's z-index property
	padding-x: 25px,
	menu-indention: 0.75rem,
	bg-color: #090A0D,
	logo-bg-color: #090A0D,
	width: (
		desktop: 140px,
		tablet-and-mobile: 80px
	), // Aside width for desktop mode
	logo-height: 120px, // Aside logo height
	box-shadow: 0 0 28px 0 rgba(82,63,105,.05), // Aside box shadow
	box-shadow-dark: none, // Aside box shadow
) !default;

// Aside
$footer-config: (	
	bg-color: $white,
	bg-color-dark: $coal-400,
) !default;
