//
// Sidebar Minimize
//
 
// Desktop sidebar minimize mode
@include app-layout-minimize(app-sidebar) {
    .app-sidebar-wrapper {
        width: var(--#{$prefix}app-sidebar-width-actual); 
    }

    .app-sidebar-menu-primary,
    .app-sidebar-menu-secondary {
        padding: 0 $app-sidebar-minimize-px;

        .menu-labels {
            .menu-btn {
                order: 1;    
            }

            .menu-heading {
                order: 2;    
            }
        }

        > .menu-item > .menu-link {
            width: $app-sidebar-minimize-menu-link-width;
        }

        .menu-heading,
        .separator,
        .menu-arrow,
        .menu-badge,
        .menu-title {
            opacity: 0;
            text-indent: -9999px;
        }

        .menu-item.show > .menu-sub {
            height: 0;
            overflow: hidden;
            @include app-layout-transition(height);
        }
    }
}