//
// Root
//

@include color-mode(light) {
    // Reboot
    --#{$prefix}app-bg: #{$app-bg};

    // Separator
    --#{$prefix}app-separator-border: #{$app-separator-border};
}

@include color-mode(dark) {
    // Reboot
    --#{$prefix}app-bg: #{$app-bg-dark};

    // Separator
    --#{$prefix}app-separator-border: #{$app-separator-border-dark};
}
