//
// Variables
//

// Custom
$app-separator-border: 1px solid rgba(217, 219, 228, 0.6);
$app-separator-border-dark: 1px solid $gray-200-dark;

// Reboot
$app-bg: linear-gradient(0deg, rgba(244, 244, 244, 0.4), rgba(244, 244, 244, 0.4)), #FFFFFF;
$app-bg-dark: $coal-400;
$app-bg-color:  $white;
$app-bg-color-dark: $app-bg-dark; 
$app-blank-bg-color: $body-bg;
$app-blank-bg-color-dark: $app-bg-color-dark;

// Container
$app-container-padding-x: 40px !default;
$app-container-padding-x-mobile: 20px !default;

// General
$app-general-root-font-size-desktop: 13px;
$app-general-root-font-size-tablet: 12px;
$app-general-root-font-size-mobile: 12px;

// Header base
$app-header-base-height: 87px;
$app-header-base-height-mobile: 60px;
$app-header-base-bg-color: #FBFBFB;
$app-header-base-bg-color-dark: $coal-200;

// Sidebar base
$app-sidebar-base-width: 280px;
$app-sidebar-base-width-mobile: 250px;
$app-sidebar-base-bg-color: $body-bg;
$app-sidebar-base-bg-color-dark: $coal-400;	
$app-sidebar-base-border-end: $app-separator-border;
$app-sidebar-base-border-end-dark: $app-separator-border-dark;	

// Aside base
$app-aside-base-width: 250px;
$app-aside-base-width-mobile: 225px;
$app-aside-base-bg-color: $body-bg;
$app-aside-base-bg-color-dark: $coal-400;

// Footer
$app-footer-height: auto;
$app-footer-height-mobile: auto;

// Scrolltop
$scrolltop-bottom: 43px;
$scrolltop-bottom-mobile: 23px;
$scrolltop-end: 7px;
$scrolltop-end-mobile: 5px;

// Layout builder toggle(used for Demo purposes only)
$app-layout-builder-toggle-bg-color: $body-bg;
$app-layout-builder-toggle-end: 50px;
$app-layout-builder-toggle-end-mobile: 40px;
$app-layout-builder-toggle-bottom: 40px;
$app-layout-builder-toggle-bottom-mobile: 20px;
