<!--begin::Logo-->
<div class="app-sidebar-logo px-6" id="kt_app_sidebar_logo">
	<!--begin::Logo image-->
	<a href="?page=index">
		<img th:if="${@theme.getAttributeValue('body', 'data-kt-app-layout')=='dark-sidebar'}" alt="Logo" th:src="${@theme.getAssetPath('media/logos/default-dark.svg')}" class="h-25px app-sidebar-logo-default" />
		<img th:if="${@theme.getAttributeValue('body', 'data-kt-app-layout')=='light-sidebar'}" alt="Logo" th:src="${@theme.getAssetPath('media/logos/default.svg')}" class="theme-light-show h-25px app-sidebar-logo-default" />
		<img th:if="${@theme.getAttributeValue('body', 'data-kt-app-layout')=='light-sidebar'}" alt="Logo" th:src="${@theme.getAssetPath('media/logos/default-dark.svg')}" class="theme-dark-show h-25px app-sidebar-logo-default" />
		<img alt="Logo" th:src="${@theme.getAssetPath('media/logos/default-small.svg')}" class="h-20px app-sidebar-logo-minimize" />
	</a>
	<!--end::Logo image-->
	<!--begin::Sidebar toggle-->
	<div th:attr="__${@theme.printHtmlAttributes('sidebar-toggle')}__" th:classappend="${@theme.printHtmlClasses('sidebar-toggle')}" id="kt_app_sidebar_toggle" class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary body-bg h-30px w-30px position-absolute top-50 start-100 translate-middle rotate" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="app-sidebar-minimize">[(${@theme.getIcon("black-left-line", "fs-2 rotate-180")})]</div>
	<!--end::Sidebar toggle-->
</div>
<!--end::Logo-->