<!--begin::Breadcrumb-->
<ul class="breadcrumb breadcrumb-separatorless fw-semibold">
	<!--begin::Item-->
	<li class="breadcrumb-item text-white fw-bold lh-1">
		<a href="?page=index" class="text-white">@Html.Raw(KTTheme.GetIcon("home", "text-white fs-3"))</a>
	</li>
	<!--end::Item-->
	<!--begin::Item-->
	<li class="breadcrumb-item">@Html.Raw(KTTheme.GetIcon("right", "fs-4 text-white mx-n1"))</li>
	<!--end::Item-->
	<!--begin::Item-->
	<li class="breadcrumb-item text-white fw-bold lh-1">Dashboards</li>
	<!--end::Item-->
</ul>
<!--end::Breadcrumb-->