<!--begin::Page title-->
<div class="page-title d-flex align-items-center me-3">
	<img alt="Logo" src='@KTTheme.GetAssetPath("media/svg/misc/layer.svg")' class="h-60px me-5" />
	<!--begin::Title-->
	<h1 class="page-heading d-flex text-white fw-bolder fs-2 flex-column justify-content-center my-0">Chartmix - Finance Team 
	<!--begin::Description-->
	<span class="page-desc text-white opacity-50 fs-6 fw-bold pt-4">Power Elite Seller</span>
	<!--end::Description--></h1>
	<!--end::Title-->
</div>
<!--end::Page title-->