<!--begin::Items-->
<div class="d-flex gap-4 gap-lg-13">
	<!--begin::Item-->
	<div class="d-flex flex-column">
		<!--begin::Number-->
		<span class="text-white fw-bold fs-3 mb-1">$23,467.92</span>
		<!--end::Number-->
		<!--begin::Section-->
		<div class="text-white opacity-50 fw-bold">Avg. Monthly Sales</div>
		<!--end::Section-->
	</div>
	<!--end::Item-->
	<!--begin::Item-->
	<div class="d-flex flex-column">
		<!--begin::Number-->
		<span class="text-white fw-bold fs-3 mb-1">$1,748.03</span>
		<!--end::Number-->
		<!--begin::Section-->
		<div class="text-white opacity-50 fw-bold">Today Spending</div>
		<!--end::Section-->
	</div>
	<!--end::Item-->
	<!--begin::Item-->
	<div class="d-flex flex-column">
		<!--begin::Number-->
		<span class="text-white fw-bold fs-3 mb-1">3.8%</span>
		<!--end::Number-->
		<!--begin::Section-->
		<div class="text-white opacity-50 fw-bold">Overall Share</div>
		<!--end::Section-->
	</div>
	<!--end::Item-->
	<!--begin::Item-->
	<div class="d-flex flex-column">
		<!--begin::Number-->
		<span class="text-white fw-bold fs-3 mb-1">-7.4%</span>
		<!--end::Number-->
		<!--begin::Section-->
		<div class="text-white opacity-50 fw-bold">7 Days</div>
		<!--end::Section-->
	</div>
	<!--end::Item-->
</div>
<!--end::Items-->