<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-6">
	<!--begin::Toolbar container-->
	<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex align-items-start">
		<!--begin::Toolbar container-->
		<div class="d-flex flex-column flex-row-fluid">
			<!--begin::Toolbar wrapper-->
			<div class="d-flex align-items-center pt-1">
				<partial name="Toolbar/_Breadcrumb.cshtml" />
			</div>
			<!--end::Toolbar wrapper=-->
			<!--begin::Toolbar wrapper=-->
			<div class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-4 gap-lg-10 pt-6 pb-18 py-lg-13">
				<partial name="Toolbar/_PageTitle.cshtml" />
				<partial name="Toolbar/_Stats.cshtml" />
			</div>
			<!--end::Toolbar wrapper=-->
		</div>
		<!--end::Toolbar container=-->
	</div>
	<!--end::Toolbar container-->
</div>
<!--end::Toolbar-->