<!--begin::Table widget 10-->
<div class="card card-flush h-xl-100">
	<!--begin::Header-->
	<div class="card-header pt-5">
		<!--begin::Title-->
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-800">Top Performing Pages</span>
			<span class="text-gray-500 pt-1 fw-semibold fs-6">Counted in Millions</span>
		</h3>
		<!--end::Title-->
		<!--begin::Toolbar-->
		<div class="card-toolbar">
			<a href="#" class="btn btn-sm btn-light">PDF Report</a>
		</div>
		<!--end::Toolbar-->
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body py-3">
		<!--begin::Table container-->
		<div class="table-responsive">
			<!--begin::Table-->
			<table class="table table-row-dashed align-middle gs-0 gy-4">
				<!--begin::Table head-->
				<thead>
					<tr class="fs-7 fw-bold border-0 text-gray-500">
						<th class="min-w-200px" colspan="2">LANDING PAGE</th>
						<th class="min-w-100px text-end pe-0" colspan="2">CLICKS</th>
						<th class="text-end min-w-100px" colspan="2">AVG. POSITION</th>
					</tr>
				</thead>
				<!--end::Table head-->
				<!--begin::Table body-->
				<tbody>
					<tr>
						<td class="" colspan="2">
							<a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Index</a>
						</td>
						<td class="pe-0" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-800 fw-bold fs-6">1,256</span>
								<span class="text-danger min-w-50px d-block text-end fw-bold fs-6">-935</span>
							</div>
						</td>
						<td class="" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-900 fw-bold fs-6">2.63</span>
								<span class="text-danger min-w-50px d-block text-end fw-bold fs-6">-1.35</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="" colspan="2">
							<a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Products</a>
						</td>
						<td class="pe-0" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-800 fw-bold fs-6">446</span>
								<span class="text-danger min-w-50px d-block text-end fw-bold fs-6">-576</span>
							</div>
						</td>
						<td class="" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-900 fw-bold fs-6">1.45</span>
								<span class="text-danger min-w-50px d-block text-end fw-bold fs-6">0.32</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="" colspan="2">
							<a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">devs.keenthemes.com</a>
						</td>
						<td class="pe-0" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-800 fw-bold fs-6">67</span>
								<span class="text-success min-w-50px d-block text-end fw-bold fs-6">+24</span>
							</div>
						</td>
						<td class="" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-900 fw-bold fs-6">7.63</span>
								<span class="text-success min-w-50px d-block text-end fw-bold fs-6">+8.73</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="" colspan="2">
							<a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">studio.keenthemes.com</a>
						</td>
						<td class="pe-0" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-800 fw-bold fs-6">2,136</span>
								<span class="text-danger min-w-50px d-block text-end fw-bold fs-6">-1,229</span>
							</div>
						</td>
						<td class="" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-900 fw-bold fs-6">3.67</span>
								<span class="text-danger min-w-50px d-block text-end fw-bold fs-6">-2.29</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="" colspan="2">
							<a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">graphics.keenthemes.com</a>
						</td>
						<td class="pe-0" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-800 fw-bold fs-6">945</span>
								<span class="text-danger min-w-50px d-block text-end fw-bold fs-6">-634</span>
							</div>
						</td>
						<td class="" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-900 fw-bold fs-6">5.03</span>
								<span class="text-danger min-w-50px d-block text-end fw-bold fs-6">-0.35</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="" colspan="2">
							<a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Licenses</a>
						</td>
						<td class="pe-0" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-800 fw-bold fs-6">237</span>
								<span class="text-success min-w-50px d-block text-end fw-bold fs-6">106</span>
							</div>
						</td>
						<td class="" colspan="2">
							<div class="d-flex justify-content-end">
								<span class="text-gray-900 fw-bold fs-6">3.52</span>
								<span class="text-success min-w-50px d-block text-end fw-bold fs-6">+3.06</span>
							</div>
						</td>
					</tr>
				</tbody>
				<!--end::Table body-->
			</table>
			<!--end::Table-->
		</div>
		<!--end::Table container-->
	</div>
	<!--end::Body-->
</div>
<!--end::Table Widget 10-->