<!--begin::Table widget 11-->
<div class="card card-flush h-xl-100">
	<!--begin::Header-->
	<div class="card-header pt-5">
		<!--begin::Title-->
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-800">Top Queries by Clicks</span>
			<span class="text-gray-500 pt-2 fw-semibold fs-6">Counted in Millions</span>
		</h3>
		<!--end::Title-->
		<!--begin::Toolbar-->
		<div class="card-toolbar">
			<a href="#" class="btn btn-sm btn-light">PDF Report</a>
		</div>
		<!--end::Toolbar-->
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body d-flex justify-content-between flex-column py-3">
		<!--begin::Block-->
		<div class="m-0"></div>
		<!--end::Block-->
		<!--begin::Table container-->
		<div class="table-responsive mb-n2">
			<!--begin::Table-->
			<table class="table table-row-dashed gs-0 gy-4">
				<!--begin::Table head-->
				<thead>
					<tr class="fs-7 fw-bold border-0 text-gray-500">
						<th class="min-w-300px">KEYWORD</th>
						<th class="min-w-100px">CLICKS</th>
					</tr>
				</thead>
				<!--end::Table head-->
				<!--begin::Table body-->
				<tbody>
					<tr>
						<td>
							<a href="#" class="text-gray-600 fw-bold text-hover-primary mb-1 fs-6">Buy phone online</a>
						</td>
						<td class="d-flex align-items-center border-0">
							<span class="fw-bold text-gray-800 fs-6 me-3">263</span>
							<div class="progress rounded-start-0">
								<div class="progress-bar bg-success m-0" role="progressbar" style="height: 12px;width: 166px" aria-valuenow="166" aria-valuemin="0" aria-valuemax="166px"></div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" class="text-gray-600 fw-bold text-hover-primary mb-1 fs-6">Top 10 Earbuds</a>
						</td>
						<td class="d-flex align-items-center border-0">
							<span class="fw-bold text-gray-800 fs-6 me-3">238</span>
							<div class="progress rounded-start-0">
								<div class="progress-bar bg-success m-0" role="progressbar" style="height: 12px;width: 158px" aria-valuenow="158" aria-valuemin="0" aria-valuemax="158px"></div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" class="text-gray-600 fw-bold text-hover-primary mb-1 fs-6">Cyber Monday</a>
						</td>
						<td class="d-flex align-items-center border-0">
							<span class="fw-bold text-gray-800 fs-6 me-3">189</span>
							<div class="progress rounded-start-0">
								<div class="progress-bar bg-success m-0" role="progressbar" style="height: 12px;width: 129px" aria-valuenow="129" aria-valuemin="0" aria-valuemax="129px"></div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" class="text-gray-600 fw-bold text-hover-primary mb-1 fs-6">OLED TV in Amsterdam</a>
						</td>
						<td class="d-flex align-items-center border-0">
							<span class="fw-bold text-gray-800 fs-6 me-3">263</span>
							<div class="progress rounded-start-0">
								<div class="progress-bar bg-success m-0" role="progressbar" style="height: 12px;width: 112px" aria-valuenow="112" aria-valuemin="0" aria-valuemax="112px"></div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" class="text-gray-600 fw-bold text-hover-primary mb-1 fs-6">Macbook M1</a>
						</td>
						<td class="d-flex align-items-center border-0">
							<span class="fw-bold text-gray-800 fs-6 me-3">263</span>
							<div class="progress rounded-start-0">
								<div class="progress-bar bg-success m-0" role="progressbar" style="height: 12px;width: 107px" aria-valuenow="107" aria-valuemin="0" aria-valuemax="107px"></div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" class="text-gray-600 fw-bold text-hover-primary mb-1 fs-6">Best noise cancelation headsets</a>
						</td>
						<td class="d-flex align-items-center border-0">
							<span class="fw-bold text-gray-800 fs-6 me-3">263</span>
							<div class="progress rounded-start-0">
								<div class="progress-bar bg-success m-0" role="progressbar" style="height: 12px;width: 74px" aria-valuenow="74" aria-valuemin="0" aria-valuemax="74px"></div>
							</div>
						</td>
					</tr>
				</tbody>
				<!--end::Table body-->
			</table>
			<!--end::Table-->
		</div>
		<!--end::Table container-->
	</div>
	<!--end::Body-->
</div>
<!--end::Table Widget 11-->