<!--begin::Questions-->
<div class="mb-10">
  <ng-container *ngFor="let question of questions">

    <!--begin::Question-->
    <div class="mb-0">
      <!--begin::Head-->
      <div class="d-flex align-items-center mb-4">
        <!--begin::Title-->
        <a routerLink="/apps/tickets-system/replies" class="fs-2 fw-bolder text-gray-900 text-hover-primary me-1">
          {{question.title}}
        </a>
        <!--end::Title-->

        <!--begin::Icons-->
        <div class="d-flex align-items-center">
          <span *ngFor="let icon of question.icons" class="ms-1" [ngbTooltip]="icon.tooltip">
            <span class="svg-icon svg-icon-1" [ngClass]="icon.class" [inlineSVG]="icon.path"></span>
          </span>
        </div>
        <!--end::Icons-->
      </div>
      <!--end::Head-->

      <!--begin::Summary-->
      <div class="fs-base fw-normal text-gray-700 mb-4">
        {{question.summary}}
      </div>
      <!--end::Summary-->

      <!--begin::Foot-->
      <div class="d-flex flex-stack flex-wrap">
        <!--begin::Author-->
        <div class="d-flex align-items-center py-1">
          <!--begin::Symbol-->
          <div class="symbol symbol-35px me-2">
            <ng-container *ngIf="question.avatar">
              <img [src]="question.avatar" alt="user" />
            </ng-container>
            <ng-container *ngIf="!question.avatar">
              <div class="symbol-label bg-light-success fs-3 fw-bold text-success text-uppercase">{{question.author[0]}}
              </div>
            </ng-container>

          </div>
          <!--end::Symbol-->

          <!--begin::Name-->
          <div class="d-flex flex-column align-items-start justify-content-center">
            <span class="text-gray-900 fs-7 fw-bold lh-1 mb-2">
              {{question.author}}
            </span>
            <span class="text-muted fs-8 fw-bold lh-1">
              {{question.date}}
            </span>
          </div>
          <!--end::Name-->
        </div>
        <!--end::Author-->

        <!--begin::Info-->
        <div class="d-flex align-items-center py-1">
          <!--begin::Answers-->
          <a routerLink="/apps/tickets-system/replies"
            class="btn btn-sm btn-outline btn-outline-dashed btn-outline-default px-4 me-2">
            {{question.answers}} Answers
          </a>
          <!--end::Answers-->

          <!--begin::Tags-->
          <a *ngFor="let tag of question.tags" routerLink="/apps/tickets-system/tag"
            class="btn btn-sm btn-light px-4 me-2">
            {{tag}}
          </a>
          <!--end::Tags-->

          <!--begin::Upvote-->
          <a href="#" class="btn btn-sm btn-flex btn-light"
            [ngClass]="{'btn-icon': !question.upvotes, 'px-3': question.upvotes}" data-bs-toggle="tooltip"
            title="Upvote this question" data-bs-dismiss="click">
            {{question.upvotes}}
            <span class="svg-icon svg-icon-7" [ngClass]="{'ms-2 me-0': question.upvotes === ''}"
              [inlineSVG]="'./assets/media/icons/duotune/arrows/arr062.svg'"></span>
          </a>
          <!--end::Upvote-->
        </div>
        <!--end::Info-->
      </div>
      <!--end::Foot-->
    </div>
    <!--end::Question-->

    <!--begin::Separator-->
    <div class="separator separator-dashed border-gray-300 my-8"></div>
    <!--end::Separator-->
  </ng-container>
</div>
<!--end::Questions-->

<!--begin::Pagination-->
<div class="d-flex flex-center mb-0">
  <ng-container *ngFor="let page of paginations">
    <ng-container *ngIf="page === '..'">
      <span class="text-muted fw-bold fs-6 mx-2">..</span>
    </ng-container>
    <ng-container *ngIf="page !== '..'">
      <a class="btn btn-icon btn-light btn-active-light-primary h-30px w-30px fw-bold fs-6 mx-2"
        [ngClass]="{'active': page ==='2'}">{{page}}</a>
    </ng-container>
  </ng-container>
</div>
<!--end::Questions-->