@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;1,400");

.container-view-1 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #111;
  
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.item-view-1 {
  position: relative;
  flex: calc(100vw / 6) 1 1;
  background-size: cover;
  overflow: hidden;
  filter: saturate(90%);
  transition: 1s;
}

.item-view-1:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(25deg, rgba(0,0,0,.9), rgba(0,0,0,0));
}

.item-view-1:not(:last-child) {
  border-bottom: 1px solid #ccc;
  animation: borderPulse 5s infinite;
  
  @media (min-width: 1024px) {
    border-right: 1px solid #ccc;
    border-bottom: none;
  }
}

.item-view-1:hover {
  flex-basis: 40%;
  filter: saturate(120%);
  
  @media (min-width: 1024px) {
    flex-basis: 75%;
  }
  
  .quote-view-1 {
    opacity: 1;
    transform: translateX(0);
  }
  .neo-button-container {
      opacity: 1;
      transform: translateX(0);
  }
}

.item-view-1:nth-child(1) {
  background-position: 72% 35%;
}

.item-view-1:nth-child(2) {
  background-position: 60% 8%;
}

.item-view-1:nth-child(3) {
  background-position: 52% 8%;
}

.item-view-1:nth-child(4) {
  background-position: 45% 8%;
}

.quote-view-1 {
  position: absolute;
  color: #fff;
  bottom: 35%;
  left: 5rem;
  width: calc(100% - 10rem);
  opacity: 0;
  transition: 1s;
  transform: translateX(50%);
  
  @media (min-width: 512px) {
    left: 15%;
    bottom: 35%;
    width: 20vw;
  }
  
  @media (min-width: 1024px) {
    left: 15%;
    bottom: 35%;
    width: 30vw;
  }
  
  p {
    position: relative;
    display: inline-block;
    margin-bottom: 1.7rem;
    font-size: 1.4rem;
    text-wrap: balance;
    font-style: italic;
    
    &:before, &:after {
      position: absolute;
      font-size: 5.5rem;
      opacity: .6;
    }
    
    &:before {
      content: "“";
      top: 4rem;
      left: -2rem;
      transform: translate(-100%, -100%);
    }
    
    &:after {
      content: "”";
      bottom: 2rem;
      right: -2rem;
      transform: translate(100%, 100%);
    }
  }
  
  span {
    position: absolute;
    bottom: -2rem;
    right: 0;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    transform: translate(4rem, 100%);
    
    &:before {
      content: "—";
      margin-right: .7rem;
    }
  }
}

@keyframes borderPulse{
  0%, 100% { border-color: rgba(204, 204, 204, 1); }
  25%, 75% { border-color: rgba(204, 204, 255, 0.9); }
  50% { border-color: rgba(204, 204, 255, 0.5); }
}

// Neo button
.neo-button-container {
  position: absolute;
  color: #fff;
  bottom: 35%;
  left: 5rem;
  width: calc(100% - 10rem);
  opacity: 0;
  transition: 1s;
  transform: translateX(50%);
  
  @media (min-width: 512px) {
    left: 35%;
    bottom: 15%;
    width: 20vw;
  }
  
  @media (min-width: 1024px) {
    left: 35%;
    bottom: 15%;
    width: 30vw;
  }
}
.neo-button {
    position: absolute;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;

    &:hover {
        background: #03e9f4;
        color: #050801;
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 200px #03e9f4;
        -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }

    span {
        position: absolute;
        display: block;

        &:nth-child(1) {
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg,transparent,#03e9f4);
            animation: animate1 1s linear infinite;
        }

        &:nth-child(2) {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg,transparent,#03e9f4);
            animation: animate2 1s linear infinite;
            animation-delay: 0.25s;
        }

        &:nth-child(3) {
            bottom: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg,transparent,#03e9f4);
            animation: animate3 1s linear infinite;
            animation-delay: 0.50s;
        }

        &:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg,transparent,#03e9f4);
            animation: animate4 1s linear infinite;
            animation-delay: 0.75s;
        }
    }
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}
