//
// Root
//

// Light mode
@include color-mode(light) {
    // Content
    --#{$prefix}app-content-shadow: #{$app-content-shadow};

    // Toolbar
    --#{$prefix}app-toolbar-bg: #{$app-toolbar-bg};
}

// Dark mode
@include color-mode(dark) {
    // Content
    --#{$prefix}app-content-shadow: #{$app-content-shadow-dark};

    // Toolbar
    --#{$prefix}app-toolbar-bg: #{$app-toolbar-bg-dark};
}
