@{
	// Master layout
	Layout = "~/Views/Layout/Master.cshtml";
	
	// Layout options
	KTTheme.AddHtmlAttribute("body", "data-kt-app-toolbar-enabled", "true");
	KTTheme.AddHtmlAttribute("body", "data-kt-app-header-fixed-mobile", "true");
	KTTheme.AddHtmlClass("body", "app-default");

	// Global vendors and javascript files
	KTTheme.AddVendor("datatables");
	KTTheme.AddJavascriptFile("js/widgets.bundle.js");
	KTTheme.AddJavascriptFile("js/custom/apps/chat/chat.js");
	KTTheme.AddJavascriptFile("js/custom/utilities/modals/upgrade-plan.js");
	KTTheme.AddJavascriptFile("js/custom/utilities/modals/create-app.js");
	KTTheme.AddJavascriptFile("js/custom/utilities/modals/users-search.js");
	KTTheme.AddJavascriptFile("js/custom/utilities/modals/new-target.js");
}


<!--begin::App-->
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
	<!--begin::Page-->
	<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
		<partial name="Partials/Default/_Header.cshtml" />
		<!--begin::Wrapper-->
		<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
			<partial name="Partials/Default/_Toolbar.cshtml" />
			<!--begin::Wrapper container-->
			<div class="app-container container-xxl">
				<!--begin::Main-->
				<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
					<!--begin::Content wrapper-->
					<div class="d-flex flex-column flex-column-fluid">
						<!--begin::Content-->
                        <div id="kt_app_content" class="app-content">
                            @RenderBody()
                        </div>
                        <!--end::Content-->
					</div>
					<!--end::Content wrapper-->
					<partial name="Partials/Default/_Footer.cshtml" />
				</div>
				<!--end:::Main-->
			</div>
			<!--end::Wrapper container-->
		</div>
		<!--end::Wrapper-->
	</div>
	<!--end::Page-->
</div>
<!--end::App-->

<partial name="~/Views/Partials/_Drawers.cshtml" />