<!--begin::Content menu-->
<div class="app-content-menu menu menu-rounded menu-gray-800 menu-state-bg flex-wrap fs-5 fw-semibold border-bottom mt-n7 pt-5 pb-6 px-10 mb-10">
	<!--begin::Menu item-->
	<div class="menu-item pe-2">
		<a class="menu-link px-5 active" href="?page=index">
			<span class="menu-title text-gray-800">Overview</span>
		</a>
	</div>
	<!--end::Menu item-->
	<!--begin::Menu item-->
	<div class="menu-item pe-2">
		<a class="menu-link px-5" href="?page=apps/projects/list">
			<span class="menu-title text-gray-800">Projects</span>
		</a>
	</div>
	<!--end::Menu item-->
	<!--begin::Menu item-->
	<div class="menu-item pe-2">
		<a class="menu-link px-5" href="?page=apps/user-management/users/list">
			<span class="menu-title text-gray-800">Members</span>
		</a>
	</div>
	<!--end::Menu item-->
	<!--begin::Menu item-->
	<div class="menu-item pe-2">
		<a class="menu-link px-5" href="?page=apps/subscriptions/list">
			<span class="menu-title text-gray-800">Subscriptions</span>
		</a>
	</div>
	<!--end::Menu item-->
	<!--begin::Menu item-->
	<div class="menu-item pe-2">
		<a class="menu-link px-5" href="?page=apps/customers/list">
			<span class="menu-title text-gray-800">Customers</span>
		</a>
	</div>
	<!--end::Menu item-->
	<!--begin::Menu item-->
	<div class="menu-item pe-2">
		<a class="menu-link px-5" href="?page=apps/ecommerce/catalog/products">
			<span class="menu-title text-gray-800">Products</span>
		</a>
	</div>
	<!--end::Menu item-->
	<!--begin::Menu item-->
	<div class="menu-item pe-2">
		<a class="menu-link px-5" href="?page=apps/file-manager/folders">
			<span class="menu-title text-gray-800">Documents</span>
		</a>
	</div>
	<!--end::Menu item-->
</div>
<!--begin::Content menu-->