//
// Main 
//

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

	&.app-default {
		background-image: url('../media/misc/bg-1.png');	
	}

	.app-engage {
		.app-engage-btn {
			box-shadow: none;
		}
	}
} 

@include color-mode(dark) {
	body {
		&.app-default {
			background-image: none;
		}
	}
}