//
// Root
//

// Light mode
@include color-mode(light) {
    // Content
    --#{$prefix}app-content-shadow: #{$app-content-shadow};    
}

// Dark mode
@include color-mode(dark) {
    // Content
    --#{$prefix}app-content-shadow: #{$app-content-shadow-dark};
}
