//
// Custom Variables
//

// Reboot
$app-bg-color: $body-bg;
$app-bg-color-dark: $coal-400; 

// General
$app-general-root-font-size-desktop: 13px;
$app-general-root-font-size-tablet: 12px;
$app-general-root-font-size-mobile: 12px;

// Header
$app-header-base-height-mobile: 110px;

// Header sticky
$app-header-sticky-bg-color: $body-bg;
$app-header-sticky-bg-color-dark: $body-bg-dark;


// Header primary
$app-header-primary-base-height: 80px;
$app-header-primary-base-height-mobile: 60px;
$app-header-primary-base-bg-color: $white;
$app-header-primary-base-bg-color-dark: $coal-600;
$app-header-primary-base-link-bg-color: $gray-100;
$app-header-primary-base-link-bg-color-dark: $gray-100-dark;
$app-header-primary-base-link-color: $gray-600;
$app-header-primary-base-link-color-dark: $gray-600-dark;
$app-header-primary-base-custom-btn-color: #2D3145;
$app-header-primary-base-custom-btn-color-dark: #2D3145;

// Header primary sticky
$app-header-primary-sticky-height: 70px;
$app-header-primary-sticky-height-mobile: 60px;
$app-header-primary-sticky-bg-color: $body-bg;
$app-header-primary-sticky-bg-color-dark: $coal-500;
$app-header-primary-sticky-box-shadow: 0px 10px 30px 0px rgba(82,63,105,0.05);
$app-header-primary-sticky-box-shadow-dark: none;

// Header secondary
$app-header-secondary-base-height: 77px;
$app-header-secondary-base-height-mobile: 60px;
$app-header-secondary-base-bg-color: $app-header-primary-base-bg-color;
$app-header-secondary-base-bg-color-dark: $gray-100-dark;
$app-header-secondary-base-border-top: 1px solid #E4E7F0;
$app-header-secondary-base-border-top-dark: 1px solid $gray-100-dark;
$app-header-secondary-base-border-bottom: 1px solid #E4E7F0;
$app-header-secondary-base-border-bottom-dark: none;
 
// Sidebar
$app-sidebar-base-width: 250px;
$app-sidebar-base-width-mobile: 250px; 
$app-sidebar-base-gap-end: 30px;
$app-sidebar-base-gap-top: 30px;
$app-sidebar-base-gap-bottom: 30px;

$app-sidebar-sticky-gap-end: 30px;
$app-sidebar-sticky-gap-top: 30px;
$app-sidebar-sticky-gap-bottom: 30px;

// Content
$app-content-padding-bottom: 0;
$app-content-padding-bottom-mobile: 0;

// Footer
$app-footer-height: auto;
$app-footer-height-mobile: auto;