<!--begin::Sidebar-->
<div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar"
	data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="225px"
	data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
	<%- include(theme.getLayoutPath("partials/sidebar-layout/sidebar/_logo.ejs")); %>
		<%- include(theme.getLayoutPath("partials/sidebar-layout/sidebar/_menu.ejs")); %>
			<%- include(theme.getLayoutPath("partials/sidebar-layout/sidebar/_footer.ejs")); %>
</div>
<!--end::Sidebar-->