//
// Layout
//

// General mode
.app-toolbar {
	background: var(--#{$prefix}app-toolbar-base-bg-color); 

	.btn-custom {
		background-color: $app-toolbar-btn-custom-bg;
	} 
} 

// Desktop mode 
.app-toolbar-menu {
	// Root links
	> .menu-item {
		position: relative; 
		margin-right: 2.3rem !important; 			 

		// Customize menu link default state       
		@include menu-link-default-state( 
			$title-color: $app-header-base-link-color, 
			$icon-color: null, 
			$bullet-color: null, 
			$arrow-color: null, 
			$bg-color: null, 
			$all-links: false
		);

		// Customize menu link hover state       
		@include menu-link-hover-state( 
			$title-color: null, 
			$icon-color: null, 
			$bullet-color: null, 
			$arrow-color:  null, 
			$bg-color: transparent, 
			$all-links: false
		);

		// Customize menu link here state       
		@include menu-link-here-state( 
			$title-color: $app-header-base-link-active-color, 
			$icon-color: null,
			$bullet-color: null, 
			$arrow-color:  null,
			$bg-color: transparent, 
			$all-links: false
		);

		// Customize menu link show state       
		@include menu-link-show-state( 
			$title-color: $app-header-base-link-active-color, 
			$icon-color: null, 
			$bullet-color: null, 
			$arrow-color: null, 
			$bg-color: transparent, 
			$all-links: false
		);

		// Customize menu link active state       
		@include menu-link-active-state( 
			$title-color: $app-header-base-link-active-color, 
			$icon-color: null, 
			$bullet-color: null, 
			$arrow-color: null, 
			$bg-color: transparent, 
			$all-links: false
		);				 

		> .menu-link {                       
			margin-left: 0;                     
			padding: 0;
			font-size: 1.2rem;
		}

		// States
		&.here > .menu-link,
		& > .menu-link.active {                     
			&:after {
				position: absolute;                                                    
				bottom: 0;
				left: 0;                        
				width: 100%;
				height: 4px;                        
				content: " ";
				background-color: $app-header-base-link-active-color;      
				@include border-radius(20px);                   
			}                     				
		}       
	}
} 