<!--begin::Engage widget 2-->
<div class="card bgi-position-y-bottom bgi-position-x-end bgi-no-repeat bgi-size-cover min-h-250px h-xl-100 border-0 bg-gray-200i" style="background-position: 100% 100%;background-size: 500px auto;background-image:url('assets/media/misc/city.png')">
	<!--begin::Body-->
	<div class="card-body d-flex flex-column justify-content-center align-items-start ps-lg-15">
		<!--begin::Title-->
		<h3 class="text-gray-800 d-flex fs-2x fw-bolder mb-2 mb-lg-4">Good admin theme
		<br />is a tool of enthusiasm</h3>
		<!--end::Title-->
		<!--begin::Action-->
		<div class="pt-2 pt-lg-4">
			<a href='/' class="btn btn-danger fw-semibold">Create App</a>
		</div>
		<!--begin::Action-->
	</div>
	<!--end::Body-->
</div>
<!--end::Engage widget 2-->